<% @posts.each do |post| %>

  <div class="row my-article">
    <article class="center col-md-offset-2 col-md-8">
      <header class="row">
        <div class="col-sm-8">
          <h1 class="post-title"><%= post.title %></h1>
        </div>
      </header>
      <div class="post-preview-content"> 
        <h4><%= post.chapters.find_by(:number => 1).title %></h4>
        <p><%= (post.chapters.find_by(:number => 1).content||'there')[0..500]+"..." %></p>
      </div>
      <footer>
        <h2 class="post-author"><%= post.user.name %></h2>
        <%= link_to image_tag("rating.png", alt: "Rails logo"),
                                                  'http://rubyonrails.org/' %>
      </footer>
    </article>
  </div>
<% end %>
