<% provide(:title, @user.name) %>
<div class="row">
  <div class="center user-profile col-md-offset-2 col-md-8">
    <div class="user-pic-box">
      <%= gravatar_for @user, {:size => '168px'} %>
    </div>
    <h1 class="user-name">
      <%= @user.name %>
    </h1>
  </div>
</div> 
<div class="row text-center" style="margin-top: 80px">
  <% if current_user %>
    <% if current_user.id == @user.id %>
      <%= render 'new_post' %> 
    <% end %>
  <% end %>
</div>
<p id="notice"><%= notice %></p>
<%= render 'posts' %>
#content
#medals
