
  <% form_id = "post_#{post.id}_rating" %>
<div class="post-footer">
  <ul>
    <li><span id='<%= "#{form_id}_number" %>'></span></li>
    <li>
      <%= form_for post.ratings.build,
                      :html => {:id => form_id, :class => 'rating-form', data: {ajax_path: "/posts/#{post.id}/rating"}} do |f| %>
        <%= f.hidden_field :post_id %>
        <% if current_user %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
        <% end %>
        <%= f.hidden_field :stars, :id => "#{form_id}_stars" %>
      <% end %>
      <% (1..5).each do |i| %>
        <span class="glyphicon glyphicon-star-empty star-rating" id='<%= "#{form_id}_#{i}" %>' data-stars="<%= i %>" data-form-id="<%= form_id %>"></span>
      <% end %>
    </li>

    <li>
      <%= link_to gravatar_for(post.user, {:size => '24'}), user_path(:id => post.user.id), class: "post-author" %>
      <%= link_to post.user.name, user_path(:id => post.user.id), class: "post-author" %>
    </li>

    <li>
      <% if post.comments.length != 0 %>
        <%= link_to '<span class="glyphicon glyphicon-comment"></span>'.html_safe, post_comments_path(:id => post.id) %>
        <%= post.comments.length %>
      <% else %>
        <%= link_to 'Comment', post_comments_path(:id => post.id) %>
      <% end %>
    </li>
  </ul>
</div>