

#rating
<ul class="rating">
  
  <% form_id = "post_#{post.id}_rating" %>

  <% if current_user %>
    <%= form_for post.ratings.find_by(:user_id => current_user.id)||post.ratings.build,
                    :html => {:id => form_id, :class => 'rating-form', data: {ajax_path: "posts/#{post.id}/rating"}} do |f| %>
    <%= f.hidden_field :post_id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :stars, :id => "#{form_id}_stars" %>

    <% end %>
  <% else %>
    <%= form_for post.ratings.build,
                :html => {:id => form_id, :class => 'rating-form', data: {ajax_path: "posts/#{post.id}/rating"}} do |f|%>
    <%= f.hidden_field :post_id %>
    <%= f.hidden_field :stars, :id => "#{form_id}_stars" %>
    <% end %>
  <% end %>
  <% (1..5).each do |i| %>
    <span class="glyphicon glyphicon-star-empty star-rating" id='<%= "#{form_id}_#{i}" %>' data-stars="<%= i %>" data-form-id="<%= form_id %>"></span>
  <% end %>
</ul>


<%= link_to gravatar_for(post.user, {:size => '30'}), user_path(:id => post.user.id), class: "post-author" %>
<%= link_to post.user.name, user_path(:id => post.user.id), class: "post-author" %>
<% if post.comments.length != 0 %>
  <%= link_to '<span class="glyphicon glyphicon-comment"></span>'.html_safe, '#' %>
  <%= post.comments.length %>
<% else %>
  <%= link_to 'Comment', '#' %>
<% end %>
<%= link_to image_tag("rating.png", alt: "Rails logo"), '#' %>