<% provide(:title, 'Edit post') %>
<h1>Edit <%= @post.title %></h1>
<% @post.chapters.each do |chapter| %>
  <div class="chapter-preview">
    <div class="row">
      <div class="center col-md-offset-2 col-md-8">
        <div class="col-xs-8 col-sm-10">
          <h2><%= chapter.title %></h2>
        </div>
      </div>  
      <div class="col-xs-4 col-sm-2 post-btns">
          <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe,
                     user_post_chapter_path(:post_id => @post.id, :id => chapter.id),
                     :data => {:confirm => 'Are you sure?'}, :method => :delete %>
          <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe,
                     edit_user_post_chapter_path(:post_id => @post.id, :id => chapter.id) %>
      </div>  
    </div>
    <div class="row">
      <div class="center col-md-offset-2 col-md-8">
        <% if chapter.content %>
          <p><%= (chapter.content.split[0..100].join(' ')) + ' ' %></p>
        <% else %>
          <p>No content yet</p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-offset-2">
    <%= link_to 'New chapter', new_user_post_chapter_path(:post_id => @post.id), :class => "btn btn-primary btn-left" %>
  </div>
</div>